@import "base/graphic.scss";

@import "utils/center.scss";
@import "utils/price.scss";
@import "utils/responsive.scss";
@import "utils/icon.scss";
@import "utils/animation.scss";

@import "layout/header.scss";
@import "layout/footer.scss";

@import "composents/button.scss";


//--------------------------------------Header--------------------------------------
header{
    @include head;
    @include center-element;
}

//--------------------------------------Button--------------------------------------
.btn{
    @include center-element;
    @include btn;
}

//--------------------------------------Footer--------------------------------------
footer{@include foot;}

//--------------------------------------Acceuil--------------------------------------
.city{
    @include center-element;
    background-color: $d-gray;
    height: 50px;
    box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.17);
    h4{font-weight: normal;}
}

.descriptive{
    @include center-element;
    background-color: $l-gray;
    height: 290px;
    flex-direction: column;
    h3{
        text-align: center;
        margin: 0;
        @include tablet{width: 300px;}
        @include phone{width: 300px;}
    }
    p{
        text-align: center;
        margin: 20px 0 30px 0;
        font-weight: 100;
        @include tablet{width: 335px;}
        @include phone{width: 335px;}
    }
}

.function{
    @include tablet{height: 400px;}
    @include large{height: 250px;}
    h3{margin: 50px 0 30px 15px;}
    &-step{
        @include center-element;
        @include phone{flex-direction: column;}
        @include tablet{flex-direction: column;}
        @include large{justify-content: space-around}
        .step{
            @include center-element;
            box-shadow: $shadow;
            background-color: $l-gray;
            border-radius: $border-r;
            position: relative;
            &:hover{background-color: lighten($purple, 36%);}
            @include phone{
                width: 80%;
                height: 75px;
                margin-bottom: 25px;
                justify-content: space-around;
            }
            @include tablet{
                width: 50%;
                height: 75px;
                margin-bottom: 40px;
                justify-content: space-around;
            }
            @include large{
                width: 230px;
                height: 110px;
                padding-top: 20px;
                flex-direction: column;
            }
        }
    }
    .dots{
        @include center-element;
        width: 25px;
        height: 25px;
        background-color: $purple;
        border-radius: $border-r;
        position: absolute;
        left: -12px;
        color: $white;
    }
}

#restaurant{
    flex-direction: column;
    background-color: $l-gray;
    h3{
        padding: 60px 0 28px 15px;
        margin: 0;
    }
    &-board{
        @include center-element;
        @include phone{flex-direction: column;}
        @include tablet{flex-wrap: wrap;}
        justify-content: space-around;
        .board{
            margin-bottom: 20px;
            background-color: $white;
            border-radius: $border-r;
            box-shadow: $shadow;
            height: 255px;
            position: relative;
            @include phone{width: 92%;}
            @include tablet{width: 45%;}
            @include large{width: 22%}
            .new{
                @include center-element;
                width: 80px;
                height: 30px;
                background-color: $blue;
                color: darken($blue, 40%);
                font-size: 14px;
                position: absolute;
                right: 12px;
                top: 12px;
            }
            img{
                height: 175px;
                border-top-left-radius: $border-r;
                border-top-right-radius: $border-r;            
            }
            h4{margin: 15px 0 0 15px;}
            p{
                margin: 5px 0 0 15px;
                font-weight: 100;
            }
        }
    }
}

//--------------------------------------Menu--------------------------------------
main{
    > img{
        @include phone{height: 200px;}
        @include tablet{height: 250px;}
        @include large{height: 300px;}
    }
}

#plan-size{
    @include large{height: 640px};
    @include tablet{height: 1315px;}
    @include phone{height: 1270px;}
}
.plan{
    background-color: $l-gray;
    border-top-left-radius: $border-r;
    border-top-right-radius: $border-r;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    @include large{height: 560px;}
    @include tablet{height: 1210px;}
    @include phone{height: 1172px;}
    h2{
        margin: 0;
        padding: 30px 35px 35px 20px;
        font-family: "Titre";
    }
    .menu{
        @include large{
            display: flex;
            justify-content: space-around;
        }
        .card{
            @include large{width: 28%;}
            @include tablet{
                @include center-element;
                flex-direction: column;
                margin-bottom: 20px;
            }
            @include phone{
                @include center-element;
                flex-direction: column;
            }
            > h4{
                display: flex;
                align-self: flex-start;
                margin: 0 0 15px 20px;
                padding-bottom: 10px;
                font-weight: 100;
                border-bottom: 3px $blue solid;
                width: 40px;
                @include large{margin-left: 0;}
            }
            .plat{
                height: 70px;
                background-color: $white;
                border-radius: $border-r - 10px;
                box-shadow: $shadow;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                overflow: hidden;
                margin-bottom: 20px;
                cursor: pointer;
                position: relative;
                @include large{width: 100%;}
                @include tablet{width: 90%;}
                @include phone{width: 90%;}
                section{
                    width: 100%;
                    transition: 400ms ease-in-out;
                    h4{
                        margin: 12px 10px 0 10px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        }
                    .txt{@include price;}
                }
                .valid{
                    @include center-element;
                    background-color: #99E2D0;
                    border-top-right-radius: $border-r - 10px;
                    border-bottom-right-radius: $border-r - 10px;
                    width: 65px;
                    height: 70px;
                    transform: scaleX(0);
                    position: absolute;
                    right: 0;
                    transform-origin: right;
                    transition: transform 400ms ease-in-out;
                    & .fa-check-circle{color: $white;}
                }
                @include check;
            }
        }
    }
    .btn{
        @include center-element;
        @include large{margin: 35px auto;}
        @include tablet{margin: 35px auto;}
        @include phone{margin: 35px auto}
    }
}