@import "base/graphic.scss";

@import "utils/center.scss";
@import "utils/responsive.scss";

@import "layout/header.scss";

@import "composents/button.scss";

header{
    @include head;
    @include center-element;
}

.city{
    background-color: $d-gray;
    height: 50px;
    @include center-element;
    h4{font-weight: 400;}
}

.descriptive{
    background-color: $l-gray;
    height: 290px;
    @include center-element;
    justify-content: initial;
    flex-direction: column;
    h3{
        
        text-align: center;
        margin: 45px 65px 0 65px;

    }
    p{
        text-align: center;
        margin: 20px 20px 30px 20px;
        font-weight: lighter;
    }
    button{
        @include btn;
    }
}

.function{
    height: 400px;
    h3{
        margin: 50px 0 30px 15px;
        text-align: left;
    }

    &-step{
        @include center-element;
        flex-direction: column;
        & .step{
            width: 280px;
            height: 75px;
            margin-bottom: 25px;
            background-color: $l-gray;
            border-radius: $border-r;
            position: relative;
            @include center-element;
            }
        }


    & .dots{
        width: 25px;
        height: 25px;
        background-color: $purple;
        border-radius: $border-r;
        position: absolute;
        left: -12px;
        @include center-element;
        color: $white;
    }
}