@mixin foot{
    height: 195px;
    background-color: #353535;
    color: white;
    h3{
        margin: 0;
        padding: 20px 0 20px 20px;
        font-family: "Titre";
    }
    nav{
        font-family: "Text";
        padding-left: 20px;
        p{
            margin: 0;
            padding-bottom: 10px;
            a{color: $white;}
        }
    }
}

nav{
    > p:first-child{font-weight: bold;}
    > p:nth-child(2){font-weight: bold;}
}