body{
    font-family: "Text";
    padding: 0;
    margin: 0;
}

$purple: #9356DC;
$pink: #FF79DA;
$blue: #99E2D0;
$l-gray: #f6f6f6;
$d-gray: #eaeaea;
$white: white;
$border-r: 25px;
$shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);


@font-face {
    font-family: "Text";
    font-weight: 400;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Text";
    font-weight: 100;
    src: url(../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Text";
    font-weight: 700;
    src: url(../font/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Titre";
    src: url(../font/Shrikhand-Regular.ttf);
}

a{
    text-decoration: none;
    color: initial;
}

img{
    width: 100%;
    object-fit: cover;
}