$purple: #9356DC;
$pink: #FF79DA;
$blue: #99E2D0;
$l-gray: #f6f6f6;
$d-gray: #eaeaea;

@font-face {
    font-family: "Text";
    font-weight: 400;
    src: url(../../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Text";
    font-weight: 100;
    src: url(../../font/Roboto-Thin.ttf);
}

@font-face {
    font-family: "Titre";
    src: url(../../font/Shrikhand-Regular.ttf);
}